@model List<Service>
@{
    ViewData["Title"] = "Index";
}

<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

       @await Html.PartialAsync("_ServicePartialView")


    </div>
</section>

